* {
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    text-transform: capitalize;
    text-align: center;
}
#navegacion {
    width: 100dvw;
    height: 100dvh;
    color: #fff;
    background-color: #222;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo {
    margin: 1rem;
    font-size: xx-large;
}



.lista__li {
    list-style: none;
}
.lista__a {
    color: #Fff;
    text-decoration: none;

    animation-name: elementos;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}



@keyframes elementos {
    0% {
        color: #000;
    }
    100% {
        color: #3f3;
    }
}