* {
    padding: 0;
    margin: 0;
}
body {
    --bg-body: #ededed;
    --color-basico: #fff;
    --color-border: #aaa;
    --color-fondo-oscuro: #333a;
    --color-letras: #000;
    --color-h4: #ccc;

    text-transform: capitalize;
    font-family: sans-serif;

}




header {
    margin-bottom: 1rem;
}
header h1 {
    font-size: x-large;
}
nav {
    background-color: var(--color-basico);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav li {
    margin: .5rem;
    list-style: none;
    padding: 5px 10px;
}
nav a {
    text-decoration: none;
}
#imagen-fondo-inicial {
    width: 100%;

}

#contenedor-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#contenedor-logo img {
    width: 100px;
    height: 100px;
}




@media (min-width: 700px) {

    header {
        display: flex;
        justify-content: space-between;
    }
    header h1 {
        font-size: xx-large;
    }
    nav {
        background-color: transparent;
        justify-content: center;
        align-items: center;
    }


    #seccion-presentacion  div {
        text-align: center;
        margin:  2rem;
        padding: 1rem;
    }
    #seccion-presentacion  p {
        width: 50%;
        margin: 1rem auto;
    }
}